/* @charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} */
 #app{
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
 }
@import "tailwindcss";